<main>
  <.live_component module={FormComponent} id="form-comp" form={@form}></.live_component>
  <div class="mt-20 flex flex-col p-2 gap-10 bg-red-50">
    <%= for download <- @downloads do %>
      <div>
        <div><%= download.title %> - <%= download.link %></div>

        <div>
          <%= if download.is_downloaded do %>
            TRUE
          <% else %>
            FALSE
          <% end %>
        </div>
      </div>
      <%!-- <% end %> --%>
    <% end %>
  </div>
</main>
